<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.good.dao.PnGoodsMapper">
    <resultMap id="BaseResultMap" type="com.mall.good.entity.PnGoods">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="goods_type" jdbcType="CHAR" property="goodsType" />
        <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="count" jdbcType="INTEGER" property="count" />
        <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
        <result column="plat_no" jdbcType="TINYINT" property="platNo" />
        <result column="plat_form" jdbcType="TINYINT" property="platForm" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mall.good.entity.PnGoods">
        <result column="goods_detail" jdbcType="LONGVARCHAR" property="goodsDetail" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, goods_name, goods_type, goods_code, price, count, goods_img, description, status, 
        create_time, modify_time, delete_flag, plat_no, plat_form
    </sql>
    <sql id="Blob_Column_List">
        goods_detail
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.mall.good.entity.PnGoodsCriteria" resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from pn_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.mall.good.entity.PnGoodsCriteria" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from pn_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from pn_goods
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from pn_goods
        where id = #{id,jdbcType=CHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.mall.good.entity.PnGoodsCriteria">
        delete from pn_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.mall.good.entity.PnGoods">
        insert into pn_goods (id, goods_name, goods_type, 
            goods_code, price, count, 
            goods_img, description, status, 
            create_time, modify_time, delete_flag, 
            plat_no, plat_form, goods_detail
            )
        values (#{id,jdbcType=CHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=CHAR}, 
            #{goodsCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
            #{goodsImg,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
            #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}, 
            #{platNo,jdbcType=TINYINT}, #{platForm,jdbcType=TINYINT}, #{goodsDetail,jdbcType=LONGVARCHAR}
            )
    </insert>
    <insert id="insertSelective" parameterType="com.mall.good.entity.PnGoods">
        insert into pn_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsType != null">
                goods_type,
            </if>
            <if test="goodsCode != null">
                goods_code,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="goodsImg != null">
                goods_img,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="platNo != null">
                plat_no,
            </if>
            <if test="platForm != null">
                plat_form,
            </if>
            <if test="goodsDetail != null">
                goods_detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null">
                #{goodsType,jdbcType=CHAR},
            </if>
            <if test="goodsCode != null">
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="goodsImg != null">
                #{goodsImg,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="platNo != null">
                #{platNo,jdbcType=TINYINT},
            </if>
            <if test="platForm != null">
                #{platForm,jdbcType=TINYINT},
            </if>
            <if test="goodsDetail != null">
                #{goodsDetail,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.mall.good.entity.PnGoodsCriteria" resultType="java.lang.Integer">
        select count(*) from pn_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update pn_goods
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=CHAR},
            </if>
            <if test="record.goodsName != null">
                goods_name = #{record.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsType != null">
                goods_type = #{record.goodsType,jdbcType=CHAR},
            </if>
            <if test="record.goodsCode != null">
                goods_code = #{record.goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="record.price != null">
                price = #{record.price,jdbcType=DECIMAL},
            </if>
            <if test="record.count != null">
                count = #{record.count,jdbcType=INTEGER},
            </if>
            <if test="record.goodsImg != null">
                goods_img = #{record.goodsImg,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null">
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.deleteFlag != null">
                delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="record.platNo != null">
                plat_no = #{record.platNo,jdbcType=TINYINT},
            </if>
            <if test="record.platForm != null">
                plat_form = #{record.platForm,jdbcType=TINYINT},
            </if>
            <if test="record.goodsDetail != null">
                goods_detail = #{record.goodsDetail,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update pn_goods
        set id = #{record.id,jdbcType=CHAR},
            goods_name = #{record.goodsName,jdbcType=VARCHAR},
            goods_type = #{record.goodsType,jdbcType=CHAR},
            goods_code = #{record.goodsCode,jdbcType=VARCHAR},
            price = #{record.price,jdbcType=DECIMAL},
            count = #{record.count,jdbcType=INTEGER},
            goods_img = #{record.goodsImg,jdbcType=VARCHAR},
            description = #{record.description,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=TINYINT},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
            plat_no = #{record.platNo,jdbcType=TINYINT},
            plat_form = #{record.platForm,jdbcType=TINYINT},
            goods_detail = #{record.goodsDetail,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update pn_goods
        set id = #{record.id,jdbcType=CHAR},
            goods_name = #{record.goodsName,jdbcType=VARCHAR},
            goods_type = #{record.goodsType,jdbcType=CHAR},
            goods_code = #{record.goodsCode,jdbcType=VARCHAR},
            price = #{record.price,jdbcType=DECIMAL},
            count = #{record.count,jdbcType=INTEGER},
            goods_img = #{record.goodsImg,jdbcType=VARCHAR},
            description = #{record.description,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=TINYINT},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
            delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
            plat_no = #{record.platNo,jdbcType=TINYINT},
            plat_form = #{record.platForm,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.mall.good.entity.PnGoods">
        update pn_goods
        <set>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsType != null">
                goods_type = #{goodsType,jdbcType=CHAR},
            </if>
            <if test="goodsCode != null">
                goods_code = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="goodsImg != null">
                goods_img = #{goodsImg,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=TINYINT},
            </if>
            <if test="platNo != null">
                plat_no = #{platNo,jdbcType=TINYINT},
            </if>
            <if test="platForm != null">
                plat_form = #{platForm,jdbcType=TINYINT},
            </if>
            <if test="goodsDetail != null">
                goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mall.good.entity.PnGoods">
        update pn_goods
        set goods_name = #{goodsName,jdbcType=VARCHAR},
            goods_type = #{goodsType,jdbcType=CHAR},
            goods_code = #{goodsCode,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            count = #{count,jdbcType=INTEGER},
            goods_img = #{goodsImg,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            status = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            delete_flag = #{deleteFlag,jdbcType=TINYINT},
            plat_no = #{platNo,jdbcType=TINYINT},
            plat_form = #{platForm,jdbcType=TINYINT},
            goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mall.good.entity.PnGoods">
        update pn_goods
        set goods_name = #{goodsName,jdbcType=VARCHAR},
            goods_type = #{goodsType,jdbcType=CHAR},
            goods_code = #{goodsCode,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            count = #{count,jdbcType=INTEGER},
            goods_img = #{goodsImg,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            status = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            delete_flag = #{deleteFlag,jdbcType=TINYINT},
            plat_no = #{platNo,jdbcType=TINYINT},
            plat_form = #{platForm,jdbcType=TINYINT}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>